form {
    display: flex;
    flex-direction: column;
}

form button {
    margin: 5px 0;
}

#filtersContainer p {
    height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}

#bttnContainer {
    display: flex;
    justify-content: space-between;
}

#bttnContainer button {
    width: fit-content;
    height: fit-content;
    align-self: center;
    margin: 0 5px;
}
